include LICENSE
include README.md
include splash.png
include NodeRedlogo.png
recursive-include automata/scripts *.sh
recursive-include automata/flows *.json
global-exclude *.pyc
global-exclude __pycache__
